@font-face {
    font-family: "FiraCode";
    src: url("../fonts/FiraCode-Regular.ttf")
}

:root {
    --font: "FiraCode";
    --background: #e1e2c3;
    --foreground: #0b0a27;
    --red: #b90000;
    --orange: #af5c00;
    --violet: #47005d;
    --branch: 1px solid var(--violet);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --foreground: #fffffe;
        --red: #ff0000;
        --orange: #ff8906;
        --violet: #d898eb;
        --branch: 1px solid var(--violet);
    }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

body {
    background: var(--background);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prompt {
    font-family: var(--font);
    color: var(--foreground);
}

.prompt~.prompt {
    padding: 1.5rem 0 0.3125rem;
}

span {
    color: var(--violet);
}

h1 {
    display: inline;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--red);
}

.tree > ul {
    margin: 0;
    padding-left: 1rem;
}

ul {
    list-style: none;
    padding-left: 2.5rem;
}

li {
    position: relative;
}

li::before, li::after {
    content: "";
    position: absolute;
    left: -0.75rem;
}

li::before {
    border-top: var(--branch);
    top: 0.75rem;
    width: 0.5rem;
}

li::after {
    border-left: var(--branch);
    height: 100%;
    top: 0.25rem;
}

li:last-child::after {
    height: 0.5rem;
}

a {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    text-decoration: none;
    outline: none;
}

a:hover {
    color: var(--background);
    background: var(--orange);
}
